<h1>
    {{ GREETING }}
</h1>
{% for i in MY_LIST%}
<p>{{ i }}</p>
{% endfor %}



<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Engjell Zogaj</td>
        <td>24</td>
    </tr>
    <tr>
        <td>Rigon Sallauka</td>
        <td>23</td>
    </tr>
</table>