{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col s4"><h4> Result: {{STATE.result}}</h4></div>
<div class="col s4"><h4> Score: {{ STATE.my_score }}:{{ STATE.ai_score }}</h4></div>
</div>
<div class="row">
    <div class="col s4"><h5>You selected: {{STATE.my_choice}} </h5></div>
    <div class="col s4"><h5>Opponent selected: {{STATE.ai_choice}} </h5></div>
</div>

<form method="post">
    What do you choose:
    <p>Select one option</p>
    <p>
      <label>
        <input name="group1" value="rock" type="radio" checked />
        <span>Rock</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" value="scissors" type="radio" />
        <span>Scissors</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" value="paper" type="radio"  />
        <span>Paper</span>
      </label>
    </p>
    <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>

  </form>

<h3>Message</h3>




{% endblock %}