{% extends "base.html" %}


{% block content %}
<a href='/' class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
 <table>
        <thead>
          <tr>
              <th>Age</th>
              <th>Height</th>
          </tr>
        </thead>

        <tbody>
            {% for person in ALL_PEOPLE %}
          <tr>
            <td>{{person.age}}</td>
            <td>{{person.height}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <h1>Table</h1>

{% endblock %}